<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.code" >


    <uses-permission android:name="android.permission.CAMERA"/>

    <application>

        <activity
                android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout"
                android:exported="false"
                android:launchMode="singleTask"
                android:name="com.android.code.ui.ActQrCodeScanner"
                android:screenOrientation="portrait"
                android:theme="@style/NewAppTheme.QrCode.Transparent"/>

    </application>


</manifest>
